doctype
html
	head
		title #{title} - My Site
		link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='stylesheets/style.css')
		meta(name='viewport' content='width=device-width, initial-scale=1')
	body
		header
			.team
				h3 #{team}
			.questionNum
				h3 ##{currentQuestion}/#{totalQuestions}
			.category
				h2 #{category}
		.container
			block question

		script(type='application/javascript', src='components/jquery/dist/jquery.min.js')
		script(type='application/javascript' src='components/bootstrap/dist/js/bootstrap.min.js')
