header.header-presenter
  .row
    .questionNum
      h3
        span #
        span.current-question #{currentQuestion}
        span /
        span.total-quetions #{totalQuestions}
  .row
    .category
      h2 #{category}

.container.content
  .question
    h2 #{question}

  .progress
    .progress-bar(style='width: 0%')
      span.progress-bar-text.countdown-text
        | #{countdown}s
      i.fa.fa-spin

  .team-states
    each team, index in teams
      .team.col-xs-6.col-sm-2.centered(id='#{team.ID}')
        .team-name #{team.Name}
        i.fa.fa-spinner.fa-spin.fa-lg
