header.header-presenter
  .row
    .category
      h2 Results

each question, index in questions

  .col-xs-12
    .result
      .thumbnail.col-xs-12
        .results-question.col-xs-12 Question ##{index+1}
          .pull-right #{question.question}
        .results-answer.col-xs-12 Answer
          .pull-right #{question.correctAnswer}

        each team in question.teams

          .team-answer.col-xs-12
            if (team.Answer == question.correctAnswer)
              .correct #{team.Name}:
              .pull-left
                i.fa.fa-check.fa-lg.correct
              .pull-left #{team.Answer}
            else
              .incorrect #{team.Name}:
              .pull-left
                i.fa.fa-times.fa-lg.incorrect
              .pull-left #{team.Answer}

