extend ../views/client-question
block answers
  h2 Choose one
  .btn-group.col-xs-12(data-toggle='buttons')
    each answer, index in answers
      .col-xs-12.col-md-6
        if index == 0
          label.answer.active.btn(data-toggle="tooltip" data-placement="top" title="#{answer}")
            input(type='radio' id='answer#{index+1}' name='answer' checked value='#{answer}' autocomplete="off")
            span.number #{index+1}
            span.text #{answer}
        else
          label.answer.btn(data-toggle="tooltip" data-placement="top" title="#{answer}")
            input(type='radio' id='answer#{index+1}' name='answer' value='#{answer}' autocomplete="off")
            span.number #{index+1}
            span.text #{answer}
